.footer-content {
    background-color: black;
    
}
.ul-list-items {
    font-size: 12px;
    color: white;
    margin: 48px 0px;
    text-transform: uppercase;
}
.li-list-items {
    list-style-type: none;

}

.title-widget {
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    margin: 0 0 20px -20px;
    padding-left: 16px;
}
.title-widget::before {
    background-color: #f26b38;
    content: "";
    height: 22px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 4px;
}
.list-items {
    list-style-type: none;
    margin-left: -60px;
}
.list-items li {
    margin: 20px 0px;
}
.list-items i {
    color: white;
    margin-right: 10px;
    
}
ul li a {
    text-decoration: none;
    color: white;
}
a img {
    margin-left: 12px;
    width: 35px;
}
@media only screen and (max-width: 992px) {
    .ul-list-items {
        font-size: 14px;
        margin: 32px 0px;
    }
  }
  @media only screen and (max-width: 576px) {
    .ul-list-items {
        font-size: 15px; 
        margin: 18px 0px;
    }
  }